* {
    padding: 0;
    margin: 0;
}

html {
    background-color: rgb(14, 56, 14);
}

body {
    max-height: 500px;
}

h1 {
    width:500px;
    margin: 0 auto;
    text-align: center;
    color:rgb(153, 224, 153)
}

.error {
    display: none;
    color: red;
}

.success {
    display: none;
    color: green;
    text-align: center;
}

.tableContainer {
    display: none;
}

.deal {
    display: block;
    text-align: center;
    justify-content: center;
    color: blue;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 35px;
    margin-left: 43%;
}

.hand {
    float: left;
}

.field::after {
    clear: both;
    content: "";
    display: table;
    text-align: center;
}

.field {
    display: flex;
    justify-content: center;
}

.userChoices{
    justify-content: center;
}

.userChoices button{
    justify-content: center;
    padding: 15px;
}

.field #playerHand p {
    padding: 0;
    margin: 0;
}

#playerValue {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    color: rgb(0, 217, 255);
    font-size: 42px;
}

#dealerValue {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: red;
    background-color: rgb(14, 56, 14);
    font-size: 42px;
}

.field #dealerHand {
    padding: 0;
    margin: 0;
}

#winner {
    display: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: rgb(56, 238, 102);
    font-size: 42px;
    border-style: solid;
}

.userChoices #newDeal {
    display: none;
}

.winnerContainer {
    width: 650px;
    margin: auto;
}